<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" th:href="@{/admin/dist/css/changePassword.css}">
	
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3>

								<i class="fa fa-key fa-4x"></i>
							</h3>
							<h2 class="text-center">Change Password?</h2>
							<p>You can change your password here.</p>
							<span class="success" style="color: green;"></span> <span
								class="expired" style="color: red;"></span>


							<form method="post">



								<div class="form-group">
									<input class="text form-control" type="text" name="token"
										id="token" placeholder="Token" onkeyup="tokenValidation()">
								</div>
								<span class="errorMsg" style="color: red;"></span>



								<div class="form-group pass_show">
									<input class="password form-control" type="password"
										name="newPassword" placeholder="NewPassword" id="password">
								</div>



								<div class="form-group pass_show">
									<input class="password form-control" type="password"
										name="confirmPassword" placeholder="Confirm Password"
										id="confirmPassword">
								</div>
								<span id="Cmessage" style="color: red;"></span>

								<div class="form-group">

									<input name="recover-submit"
										class="btn btn-lg btn-primary btn-block"
										value="Change Password" type="button"
										onclick="validateFields()">
								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script th:src="@{/admin/dist/js/pages/changePassword.js}"></script>



</body>
</html>